# Python bytecode and caches
__pycache__/
*.py[cod]

# Hydra output 
outputs/
multirun/
*.log

# VS Code project settings
.vscode/

# Jupyter Notebook files
*.ipynb
.ipynb_checkpoints/

# macOS file clutter
.DS_Store

# Local directories
process/
jobs/